.buscarTramite {
  display: grid;
  grid-template-columns: auto 1fr;
}

.buscarTramite img {
  width: 100%;
  height: auto;
  min-width: 100px;
}

.tramite {
  display: flex;
  flex-direction: column;
  background: var(--gray60);
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}

.tramite a {
  color: #bcbcbc;
  text-decoration: underline;
}

.tramite-logo {
  min-width: 7.5rem;
  font-size: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #949494b3;
  color: white;
}
