.modal-container-v2 {
  border: none;
  box-shadow: #00000029 2px 2px 5px 2px;
  border-radius: 0.25rem;
  padding: 1.8rem;
  background-color: white;
  max-width: 40rem;
}

.modal-container-v2 input {
  width: 100%;
  margin: 0.5rem 0 1.2rem 0;
  outline: none;
  background: var(--gris40);
  color: var(--gris70);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
}
.modal-container-v2 input:focus {
  outline: none;
}

.modal-controls {
  text-align: right;
  margin-bottom: 1rem;
}
